.rebar3
_*
.eunit
*.o
*.beam
*.plt
*.swp
*.swo
.erlang.cookie
ebin
log
erl_crash.dump
.rebar
_rel
_deps
_plugins
_tdeps
logs
_build
/src/mlfe_parser.erl
/src/mlfe_scan.erl
/src/alpaca_parser.erl
/src/alpaca_scan.erl
/src/alpaca_compiled_po.erl
/priv/lang/*.mo
