{erl_opts, [debug_info]}.
{xrl_opts, [{report, true}, {verbose, true}]}.
{deps, []}.

%% Adding this to suppress warnings about the (currently) unused debugging
%% functions in the typer and one unused function in a leex header file.
%% I tried adding various combinations to dialyzer.ignore-warnings without
%% success running `rebar3 dialyzer`, if there's a solution I'm missing here
%% I'm happy to hear about it.
{dialyzer, [{warnings, [no_unused]}]}.
