{erl_opts, [debug_info, warnings_as_errors, {gettext, alpaca_compiled_po}]}.
{xrl_opts, [{report, true}, {verbose, true}]}.
{deps, [ {epo_runtime, {git, "git://github.com/brigadier/epo_runtime.git",
                        {tag, "0.3"}}},
         cf
       ]}.
{dialyzer, [{warnings, [unknown]}]}.

{profiles, [
            {shell, [
                    {deps, [sync]}
                   ]},

            {test, [
                    {deps, [proper]}
                   ]}
           ]}.

{pre_hooks, [{compile, "./epo scan"}, {compile, "./epo compile"}]}.
