{erl_opts, [debug_info]}.
{xrl_opts, [{report, true}, {verbose, true}]}.
{deps, []}.
{dialyzer, [{warnings, [unknown]}]}.

{plugins, 
 [{rebar_prv_alpaca, 
   ".*", 
   {git, "https://github.com/j14159/rebar_prv_alpaca", {branch, formatter}}}]}.

{provider_hooks, [{post, [{compile, {alpaca, compile}}]},
                  {pre, [{eunit, {alpaca, compile}}]}]}.
